server:
  port: ${SERVER_PORT:8080}
spring:
  cloud:
    config:
      enabled: false
  application:
    name: inscritos
  datasource:
    url: ${DATASOURCE_URL}
    username: ${DATASOURCE_USERNAME}
    password: ${DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: ${SHOW_SQL:false}
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
gestao:
  projetos:
   api:
    security:
      secret: ${GESTAO_PROJETOS_API_SECURITY_SECRET}